{% extends 'base.html' %}
{% block content %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card shadow-lg border-0">
                <form method="post">
                    <div class="card-header bg-primary text-white text-center py-3 rounded-top">
                        <h3 class="mb-0">Add New Doctor</h3>
                    </div>
                    
                    <div class="card-body p-4">
                        <div class="mb-3">
                            <label for="name" class="form-label fw-bold">Full Name</label>
                            <input type="text" class="form-control" name="name" placeholder="Enter doctor's full name" required>
                        </div>
                        
                        <div class="mb-3">
                            <label for="department" class="form-label fw-bold">Department</label>
                            <select class="form-select" id="department" name="department_id" required>
                                <option value="" selected disabled>Select Department</option>    
                                {% for dept in departments %}
                                    <option value="{{ dept.id }}">{{ dept.department_name }}</option>
                                {% endfor %}
                                <option value="new">➕ Add New Department</option>
                            </select>
                        </div>
                        <div class="mb-3 d-none" id="new-dept-section">
                            <label class="form-label fw-bold">New Department Name</label>
                            <input type="text" class="form-control" name="new_department_name" placeholder="Enter new department name">

                            <label class="form-label mt-2 fw-bold">Description</label><label for="">(Optional)</label>
                            <textarea class="form-control" name="new_department_description" rows="3"
                                    placeholder="Short description about department"></textarea>
                        </div>                     
                        <div class="mb-3">
                            <label for="email" class="form-label fw-bold">Email</label>
                            <input type="email" class="form-control" name="email" placeholder="doctor@example.com" required>
                        </div>
                        <div class="mb-3">
                            <label for="experience" class="form-label fw-bold">Experience(in years)</label>
                            <input type="number" class="form-control" name="experience" placeholder="Enter doctor's experience" required min="0">
                        </div>
                        <div class="mb-3">
                            <label for="qualifications" class="form-label fw-bold">Qualifications</label>
                            <input type="text" class="form-control" name="qualifications" placeholder="MS/ MD/ MBBS/..." required>
                        </div>
                        
                        <div class="mb-4">
                            <label for="password" class="form-label fw-bold">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="doctor@dept" required>
                        </div>
                        
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg">
                                <i class="bi bi-person-plus-fill me-2"></i> Add Doctor
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
document.getElementById("department").addEventListener("change", function() {
    if (this.value === "new") document.getElementById("new-dept-section").classList.remove("d-none");
    else{ 
        document.getElementById("new-dept-section").classList.add("d-none");
    }
});
</script>

{% endblock %}