{% extends 'base.html' %}
{% block content %}

<h3 class="text-white text-center">Doctor List</h3>
<div class="row">
    <div class="col-md-3">
        <a class="btn btn-secondary float-end border-black" href="{{ url_for('admin_dashboard') }}">Back</a>
    </div>
    <div class="col-md-6">
        <form class="mb-3" method="get">
            <input class="form-control" name="q" placeholder="Search doctors by name">
        </form>
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary mb-2" href="{{ url_for('create_doctor') }}">Add New Doctor</a>
    </div>
</div>
<table class="table table-striped">
    <thead><tr><th>S No.</th><th>Name</th><th>Department Name</th><th>Experience(in years)</th><th>Qualifications</th><th>Actions</th></tr></thead>
    <tbody>
        {% for dr in doctor_array %}
        <tr>
        <td>{{ loop.index }}</td>
        <td>{{ dr.username }}</td>
        <td>{{ dr.department.department_name }}</td>
        <td>{{ dr.experience_years }}</td>
        <td>{{ dr.qualification }}</td>
        <td>
            <a class="btn btn-sm btn-primary" href="{{ url_for('edit_doctor')}}">Edit</a>
            <a class="btn btn-sm btn-danger" href="{{ url_for('delete_doctor', doctor_id=dr.id) }}"
                onclick="return confirm('Delete doctor permanently?');">Delete</a>
            {% if dr.is_active %}
                <a class="btn btn-dark btn-sm" href="{{ url_for('blacklist_doctor', doctor_id=dr.id) }}">Blacklist</a>
            {% else %}
                <a class="btn btn-success btn-sm" href="{{ url_for('activate_doctor', doctor_id=dr.id) }}">Activate</a>
            {% endif %}
        </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
